@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');



:root {
    --fonte1: 'Sriracha', cursive;
    --fonte2: 'Style Script', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: yellow;
    font-family: var(--fonte1);

    width: auto;   
}

header {
    background-image: linear-gradient(to bottom, #FFE25A, #FFA852);
    color: purple;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header > h3 {
    padding-bottom: 10px;
    font-size: 2vw;
}

section {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
}

section.normal {
    width: auto;
    background-image: linear-gradient(to bottom, #FFF9CC, #FFF6B3, #FFF399,#FFF180);
    color: purple
}

section.imagem {
    width: 100%;
    height: auto;
    background-color: black;
    color: purple;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img01 {
    background-image: url(Imagens-Whatsapp/img.1pq.jpeg);
    background-position: right center;
}

section#img02 {
    background-image: url(Imagens-Whatsapp/img.2.jpeg);
}

section#img03 {
    background-image: url(Imagens-Whatsapp/img.3.jpeg);
    background-position: right center;
}

section#img04 {
    background-image: url(Imagens-Whatsapp/img.4.jpeg);
    background-position: right center;
}

section#img05 {
    background-image: url(Imagens-Whatsapp/img.9.jpeg);
    background-position: right bottom;
}

section#img06 {
    background-image: url(Imagens-Whatsapp/img.7.jpeg);
    background-position: center center;
}

section.imagem > h2 {
    width: 400px;
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 225, 92, 0.432), rgba(255, 169, 82, 0.199));
    text-shadow: 0.5px 0.5px 0px black;
}

section.imagem > p {
    width: 400px;
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 225, 92, 0.432), rgba(255, 169, 82, 0.199));
    text-shadow: 0.5px 0.5px 0px black;
}

section.normal > h2 {
    background-image: linear-gradient(to bottom, #FFF9CC, #FFF6B3, #FFF399,#FFF180);
    color: purple
}

section.normal > p {
    background-image: linear-gradient(to bottom, #FFF9CC, #FFF6B3, #FFF399,#FFF180);
    color: purple
}

footer {
    background-image: linear-gradient(to bottom, #FFE25A, #FFA852);
    color: purple;
    text-align: center;
    padding: 10px;
    font-size: small;
}

footer.ref {
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}